.center{
    position:absolute;
    left:50%;    /* 定位父级的50% */
    top:50%;
    transform: translate(-50%,-50%); /*自己的50% */
}

.center-box{
	width: 450px;
	height: 300px;
	background-color: #f2e6ce;
}

.center-form{
	margin-left: 50px;
	width: 450px;
	height: 132px;
}